* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

.logo-ju {
    font-size: 30px;
    color: #fff;
    font-family: 'Dancing Script',cursive;
}

.navbar-collapse {
    flex-grow: initial !important;
}

.nav-item {
	padding: 0 7px !important;
}

.nav-link {
	color: #fff !important;
}

.form-inline {
	padding: 0 7px !important;
}

html, body {
    height: 100%;
	background-color: #212121;
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

section {
	padding: 70px 0;
	background: #212121;
}

.banner-topo {
	background-image: url('../images/background-banner.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 120px 0;
	text-align: center;

}

.banner-topo h1 {
	font-size: 60px;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

.banner-topo p {
	font-size: 18px;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

.sobre {
	background:#212121;
		padding: 27px 0 73px;
}

.sobre img {
	border-radius: 50%;
	text-align: center;
}

.projetos h2 {
	font-size: 35px;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
}

.sobre h2 {
	font-size: 35px;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
}

.sobre p {
	font-size: 17px;
	line-height: 1.5;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	padding-bottom: 20px;
}

.accordion-button {
	color: #fff !important;
    background-color: #212121 !important;
}

.accordion-body {
    padding: 1rem 1.25rem;
    background-color: #212121;
}

.accordion-body p {
	font-size: 15px !important;
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url('../images/download.svg') !important;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.mt-30 {
	margin-top: 25px !important;
}

footer {
	background-color: #000;
	color: #fff;
	padding: 20px 0 10px;
}

footer p {
	color: #fff;
	font-size: 14px;
}

.logos-footer {
    list-style-type: none !important;
}

.logos-footer li {
    display: inline-block !important;
	border-radius: 0 !important;
	text-align: center;
}

.logos-footer img {
	width: 33px;
    border-radius: 0 !important;
    padding-right: 10px;
    text-align: center;
    margin-top: 20px;
}

.text-center {
	text-align: center;
}

.card-title {
    margin-bottom: 0.5rem;
    position: relative;
    top: 242px;
}

.card-text {
    font-size: 14px;
    position: relative;
    top: 242px;
}